<!--Header-->
<%- include('../partials/header') %>

    <body class="gray-bg">

        <div class="loginColumns animated fadeInDown">
            <div class="row">

                <div class="col-md-6">
                    <div class="left-login">
                        <h2 class="font-bold">Previdenciario</h2>
                        <p>
                            Web admin for clients, partners and vendors.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 right-login">
                    <div class="ibox-content">
                        <img src="/img/smart_logo_positive.png" class="logo-login" alt="">
                        <form class="m-t" role="form" action="/dashboard">
                            <div>
                                <div>
                                    <h4>Esqueceu sua senha?</h4>
                                    <p><small>Digite o seu login e nós enviaremos um link para você criar outra senha de
                                            sua preferência.</small></p>
                                    <br>

                                    <form class="form-type-material">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtLogin" required>
                                            <label for="login" class="require">Login</label>
                                            <div class="invalid-feedback"></div>
                                        </div>

                                        <br>
                                        <button class="btn btn-bold btn-block btn-primary" type="button"
                                            id="btnSend">Enviar</button>
                                    </form>
                                    <br>
                                    <p class="text-center text-muted fs-13 mt-20"><a class="text-primary fw-500"
                                            style="color:#8b95a5 !important" href="/">Voltar</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    Copyright Previdenciario
                </div>
                <div class="col-md-6 text-right">
                    <small>© 2021-2025</small>
                </div>
            </div>
        </div>

        <!--Right sidebar-->
        <%- include('../partials/mainly-scripts') %>

            <!-- Page-Level Scripts -->
            <script>
                $(document).ready(function () {

                    var leftHeight = $('.ibox-content').height();
                    $('.left-login').height(leftHeight);

                });

            </script>

    </body>

    </html>