<div class="footer">
    <div class="float-right">
        <!-- 10GB of <strong>250GB</strong> Free. -->
    </div>
    <div>
        <strong>Copyright</strong> MRI - cálculos previdenciários &copy; 2021-2025
    </div>
</div>