<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>INSPINIA | Login 2</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    
    <!-- Users -->
    <link href="/css/plugins/footable/footable.core.css" rel="stylesheet">
    <link href="/css/plugins/select2/select2.min.css" rel="stylesheet">
    <link href="/css/plugins/select2/select2-bootstrap4.min.css" rel="stylesheet">

    <!-- Tables -->
    <link href="/css/plugins/datapicker/datepicker3.css" rel="stylesheet">

    <!-- Calcs -->
    <link href="/css/plugins/steps/jquery.steps.css" rel="stylesheet">

    <link href="/css/main.css" rel="stylesheet">

    <script src="https://kit.fontawesome.com/e5179eba6d.js" crossorigin="anonymous"></script>
</head>
